button:hover {
	cursor: pointer;
}

span.itemCompleted {
	text-decoration: line-through;
	text-decoration-color: red;
	text-decoration-thickness: 0.1rem;
}

span:hover {
	cursor: pointer;
}

span {
	width: fit-content;
	overflow-wrap: break-word;
	max-width: 90%;
	word-wrap: break-word;
	display: inline-block;
	vertical-align: middle;
}

li {
	border-bottom: solid;
	border-width: thin;
	padding: 0.5rem;
	text-align: left;
	width: 80%;
	white-space: normal;
}

ol,
ul {
	list-style-position: inside;
	display: inline-block;
	width: 90%;
}

.centered {
	text-align: center;
}

button.singleDelete {
	background-color: red;
	color: white;
	border: none;
	height: 100%;
	float: right;
	margin-right: -0.5rem;
	padding: 0.81rem;
	margin-top: -0.5rem;
}

.buttonsInput {
	font-size: 16px;
}

.text {
	font-size: 20px;
}