button:hover {
	cursor: pointer;
}

span.itemCompleted {
	text-decoration: line-through;
	text-decoration-color: red;
	text-decoration-thickness: 1.5px;
}

span:hover {
	cursor: pointer;
}

li {
	border-bottom: solid;
	border-width: thin;
	padding: 4px;
	text-align: left;
}

ol,
ul {
	list-style-position: inside;
	display: inline-block;
}

.centered {
	text-align: center;
}